# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
!*.tfvars.example
tfplan*
terraform-visual-report

# Packer
packer_cache/
*.pkrvars.hcl
!*.pkrvars.hcl.example

# Ansible
ansible/*.retry
ansible/vault-keys.json
ansible/root-ca.pem
ansible/kubeconfig

# Secrets
*.pem
*.key
vault-keys.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
